/* ==========================================================================
Root
========================================================================== */
:root {
    --clr_cream:  hsl(34, 100%, 95%);
    --clr_dark_1: hsl(50, 6%, 20%);
    --clr_dark_2: hsl(48, 5%, 15%);
    --clr_yellow: hsl(39, 100%, 75%);
    --clr_red:    hsl(6, 71%, 59%);
    --clr_blue:   hsl(190, 25%, 54%);

    --ff_main: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --ff_retro: "VT323", monospace;
    
    --fs_small: 1rem;
    --fs_regular: 1.5rem;
    --fs_medium: 3rem;
    --fs_large: clamp(3rem, 12vw + 1rem, 7.5rem);

    --fw_regular: 400;

    --border_width: 2.5rem;
    --corner_width: 5rem;
}
/* ==========================================================================
HTML Elements
========================================================================== */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--ff_main);
    font-weight: var(--fw_regular);
    font-size: var(--fs_regular);
    color: var(--clr_dark_2);
    background-color: var(--clr_cream);
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    width: 100%;
    height: auto;
}
input, button, textarea, select {
    font: inherit;
}
/* ==========================================================================
Component Classes
========================================================================== */
.texture {
    position: fixed;
    background-repeat: repeat;
    background-image: url("../images/noise.png");
    mix-blend-mode: normal;
    pointer-events: none;
    height: 100%; 
    width: 100%;
}
.header {
    padding: clamp(1rem, 4vw, 2.5rem);
}
.header__img {
    margin-inline: auto;
}
.header__title {
    margin-top: 4rem;
    font-family: var(--ff_retro), var(--ff_main);
    font-size: var(--fs_large);
    color: var(--clr_dark_1);
    text-transform: uppercase;
    text-align: center;
    line-height: 0.8;
    margin-inline: auto;
}
.main__title {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-family: var(--ff_retro);
    font-size: var(--fs_large);
    color: var(--clr_cream);
    background-color: var(--clr_dark_1);
    text-transform: uppercase;
    text-align: center;
}
.brackets_container {
    margin-top: 3rem;
}
.grid_container {
    display: grid;
}
.category_title {
    --clr_theme: var(--clr_cream);
    margin-top: 1rem;
    font-family: var(--ff_retro);
    font-size: var(--fs_medium);
    color: var(--clr_dark_1);
    background-color: var(--clr_theme);
    text-transform: uppercase;
    text-align: center;
}
.category_text {
    padding-inline: 1rem;
    padding-top: 1.5rem;
    margin-inline: auto;
    hyphens: auto;
}
.btn {
    margin-top: 3rem;
    display: block;
    padding: 0.75em 0.5em;
    max-width: 200px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-inline: auto;
    color: var(--clr_dark_1);
    text-transform: uppercase;
    font-family: var(--ff_retro);
    background-color: var(--clr_theme);
}
.btn:hover {
    background-color: var(--clr_dark_1);
    color: var(--clr_theme);
}
.category_img {
    margin-inline: auto;
    order: -1;
}
.footer {
    margin-top: 5rem;
}
/* ==========================================================================
Animation, Media Queries, & Fonts
========================================================================== */
@font-face {
    font-family: "VT323";
    src: url("../fonts/VT323-Regular.ttf") format("truetype");
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 10.5em;
    }
}
@keyframes blink {
    50% {
        border-color: transparent
    }
}
@media (min-width: 800px) {
    .category_text {
        text-align: justify;
    }
    .brackets_container {
        position: relative;
        border: var(--border_width) solid var(--clr_dark_1);
        border-top: none;
        border-bottom: none;
        margin: 2rem 2.5rem;
        padding: 2.5rem 0rem;
    }
    .bracket_corners_left::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: var(--border_width) solid var(--clr_dark_1);
        width: var(--corner_width);
    }
    .bracket_corners_left::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: var(--border_width) solid var(--clr_dark_1);
        width: var(--corner_width);
    }
    .bracket_corners_right::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-top: var(--border_width) solid var(--clr_dark_1);
        width: var(--corner_width);
    }
    .bracket_corners_right::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top: var(--border_width) solid var(--clr_dark_1);
        width: var(--corner_width);    
    }
}
@media (min-width: 1300px) {
    .header__title {
        overflow: hidden;
        border-right: 0.1ch solid var(--clr_dark_1);
        white-space: nowrap;
        width: 0;
        animation: typing 2.5s steps(20) forwards,
        blink .75s step-end infinite alternate;
        animation-delay: 0.25s;
    }
    .main__title {
        margin-top: 21rem;
    }
    .grid_container {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
    .category_title {
        margin-top: 0;
    }
    .order--second {
        order: 1;
    }
}
/* ==========================================================================
Utility Classes
========================================================================== */
.theme--yellow {--clr_theme: var(--clr_yellow);}
.theme--red {--clr_theme: var(--clr_red);}
.theme--blue {--clr_theme: var(--clr_blue);}